In [74]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from packaging import version
import sklearn
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [75]:
path = 'dataset/1'

dfBikingRental = pd.read_csv(f'{path}/day.csv')

dfBikingRental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [76]:
dfBikingRental.head(20)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
5,6,2011-01-06,1,0,1,0,4,1,1,0.204348,0.233209,0.518261,0.089565,88,1518,1606
6,7,2011-01-07,1,0,1,0,5,1,2,0.196522,0.208839,0.498696,0.168726,148,1362,1510
7,8,2011-01-08,1,0,1,0,6,0,2,0.165000,0.162254,0.535833,0.266804,68,891,959
8,9,2011-01-09,1,0,1,0,0,0,1,0.138333,0.116175,0.434167,0.361950,54,768,822
9,10,2011-01-10,1,0,1,0,1,1,1,0.150833,0.150888,0.482917,0.223267,41,1280,1321
10,11,2011-01-11,1,0,1,0,2,1,2,0.169091,0.191464,0.686364,0.122132,43,1220,1263
11,12,2011-01-12,1,0,1,0,3,1,1,0.172727,0.160473,0.599545,0.304627,25,1137,1162
12,13,2011-01-13,1,0,1,0,4,1,1,0.165000,0.150883,0.470417,0.301000,38,1368,1406
13,14,2011-01-14,1,0,1,0,5,1,1,0.160870,0.188413,0.537826,0.126548,54,1367,1421
14,15,2011-01-15,1,0,1,0,6,0,2,0.233333,0.248112,0.498750,0.157963,222,1026,1248
15,16,2011-01-16,1,0,1,0,0,0,1,0.231667,0.234217,0.483750,0.188433,251,953,1204
16,17,2011-01-17,1,0,1,1,1,0,2,0.175833,0.176771,0.537500,0.194017,117,883,1000
17,18,2011-01-18,1,0,1,0,2,1,2,0.216667,0.232333,0.861667,0.146775,9,674,683
18,19,2011-01-19,1,0,1,0,3,1,2,0.292174,0.298422,0.741739,0.208317,78,1572,1650
19,20,2011-01-20,1,0,1,0,4,1,2,0.261667,0.255050,0.538333,0.195904,83,1844,1927

In [77]:
## mnth, weekday, workingday, weathersit, windspeed(media), atemp by Y cnt
dfBikingRental = dfBikingRental.sample(frac=1, random_state=0).reset_index(drop=True)

X = dfBikingRental[["mnth", "weekday", "workingday", "weathersit", "atemp", "windspeed"]].values #características
y = dfBikingRental[["cnt"]].values  # etiquetas

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

In [84]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
print ("Mean Squared Error:", mse)
print ("Root Mean Squared Error:", rmse)
print ("R2 Score:", r2)

print(f'La prediccion  tiene un fallo  Cuadrático de : {rmse:.2f}  ')


# Mostramos los datos predichos en un dataframe
df = pd.DataFrame({'Real': y_test.flatten(), 'Predicción': y_pred.flatten()})
X_test

Mean Squared Error: 1835783.3633291612
Root Mean Squared Error: 1354.910832242905
R2 Score: 0.4674875306392485
La prediccion  tiene un fallo  Cuadrático de : 1354.91

array([[12.       ,  0.       ,  0.       ,  2.       ,  0.390146 ,
         0.157975 ],
       [ 3.       ,  2.       ,  1.       ,  1.       ,  0.315654 ,
         0.187192 ],
       [ 7.       ,  3.       ,  1.       ,  1.       ,  0.689404 ,
         0.146133 ],
       ...,
       [ 5.       ,  5.       ,  1.       ,  1.       ,  0.474117 ,
         0.228246 ],
       [12.       ,  0.       ,  0.       ,  1.       ,  0.253154 ,
         0.0665417],
       [ 3.       ,  2.       ,  1.       ,  1.       ,  0.3024   ,
         0.12065  ]], shape=(220, 6))